<div style="border: #3f51b5 solid 2px; background: #3f51b5">
  <mat-toolbar color="primary" class="m-0" fxLayout="row" fxLayoutAlign="space-around center">
    <span>Drinving School</span>
    <span class="example-spacer"></span>
    <a class="text-white text-decoration-none" [routerLink]="['/auth/login']" routerLinkActive="active">
      LogIn
    </a>
  </mat-toolbar>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <!--              https://www.drive2schools.com/hubfs/Stock%20images/5ce3d6e73f26d.jpeg-->
              <img src="https://img.freepik.com/free-vector/driving-school-background_23-2149424638.jpg"
                   style="width: 600px;" class="my-3" alt="driving">
              <p class="lead text-white">Avec l’auto-école l’apprentissage du code et de la conduite est plus simple,
                plus libre et plus transparent.</p>
              <div class="btn-wrapper mt-5" fxLayoutGap="20">
                <a routerLink="/auth/sign-in" routerLinkActive="active" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0 bg-white">
                  <span class="btn-inner--text">S'incrire</span>
                </a>
                <a routerLink="/auth/login" routerLinkActive="active" class="btn btn-lg mb-3 mb-sm-0 bg-white">
                  <span class="btn-inner--text">Login</span>
                </a>
              </div>
              <div class="mt-5" fxLayoutGap="12">
                <small class="text-white font-weight-bold mb-0 mr-2">proudly coded by</small>
                <img class=""
                     src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg"
                     style="height: 36px;" alt="avatar">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

</div>



<div class="mt-5" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6">
      <a
        href="#"
        class="text-muted text-hover-primary px-2"
      >
        About
      </a>
      <a
        href="mailto:hasnaoui@gmail.com"
        class="text-muted text-hover-primary px-2"
      >
        Contact
      </a>
      <a
        href="#"
        class="text-muted text-hover-primary px-2"
      >
        Contact Us
      </a>
    </div>
  </div>
</div>
