<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="loginForm" fxFlex="50%" fxFlex.sm="70%" fxFlex.xs="90%">
    <mat-card class="p-4">
      <mat-card-title class="text-center">Driving School</mat-card-title>
      <mat-card-subtitle class="text-center">Log in to your account</mat-card-subtitle>
      <mat-card-content class="mt-5">

        <mat-form-field class="full-width">
          <input id="emailInput" matInput placeholder="UserName" formControlName="email" autocomplete="email"
                 type="text">
          <mat-error id="minlengthEmailError" *ngIf="loginForm.controls['email'].hasError('minlength')">
            Email must be at least 4 characters
          </mat-error>
          <mat-error id="maxlengthEmailError" *ngIf="loginForm.controls['email'].hasError('maxlength')">
            Email must be at most 30 characters
          </mat-error>
          <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
            Email is
            <strong>required</strong>
            Please enter a valid username
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                 autocomplete="current-password">
          <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
            Password is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="full-width">
          <mat-slide-toggle color="primary" formControlName="rememberMe"> Remember my email address</mat-slide-toggle>
        </div>

      </mat-card-content>

      <mat-card-actions class="login-actions mt-2" fxFlex fxLayout fxLayoutAlign="center">
        <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                (click)="login()">Login
        </button>
        <button mat-button id="resetPassword" (click)="resetPassword()" type="button">Reset Password</button>
      </mat-card-actions>

    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
