<mat-card class="m-3">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
    <mat-card-subtitle>List</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <app-users-list
        [content]="content"
        [totalPages]="totalPages"
        [pageNumber]="pageNumber"
        [numberOfElements]="numberOfElements"
        [totalElements]="totalElements"
        [loadingData]="loadingData"
        (onChangeStateFromUser)="ChangeStateFromUser($event)"
        (pageableUsers)="pageableUsers($event)"
        (openAddUserDialog)="openAddUserDialog()"
      >
      </app-users-list>
    </div>
  </mat-card-content>
</mat-card>
